.App {
  margin: 3rem auto;
  text-align: center;
  width: 37vw;
  background-image: linear-gradient(to bottom, #3b679e 0%,#2b88d9 40%,#2b88d9 43%,#207cca 49%,#207cca 56%,#7db9e8 100%);
  border-radius: 5px;
  box-shadow: 0 6px 28px -3px rgba(0,0,0,0.75);
  color: white;
  position: relative;

}

.form {
  position: absolute;
  left: 5rem;
  font-size: 1rem;
}

.forecastWrapper {
  margin-top: 5rem;
  display: flex;
  flex-flow: row nowrap;
}

@media (max-width: 900px) {

  .App {
    width: 100vw;
    margin: 0 auto;
    height: 100vh;
    border-radius: 0;
  }
}



