.dayTwo {
    display: inline-block;
    margin: 0 auto;
    transition: all .3s;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    cursor: pointer;
}

.dayTwo:hover {
    transform: scale(1.2);
}

.dayTwo>img {
    width: 5.5rem;
}